@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 300px;
  width: 100%;
}


@layer utilities {
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}