# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment file
.env

# Alembic migration cache files (optional)
migrations/__pycache__/
migrations/script.py.mako
migrations/env.py